*{
    margin: 0;
    padding: 0px;
}
nav{
    background-color: aquamarine;
    height: 40px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
    
    
   
}
.nav_ul ul{

    display: flex;
  
}
.nav_ul li{
    text-decoration: none;
    
   padding: 20px;
  
    color: rgb(11, 11, 11);
    
  
    
    
}


.rows{
    background-image: url('./laptop-1280536_1920.jpg');
    background-size: cover;
    background-position:50%;
    
    background-repeat: no-repeat;
  
    
}
.row1{
    text-align:justify;
    color: rgb(224, 239, 239);

    padding: 50px;
   
    
}
.to{
    padding-top: 30px;
   width: 200px;
   height: 50px;
   display: flex;
   padding: 20px;
   

}
.to button{
    padding: 10px;
   margin: 3px;
   
  
}
h4:hover{
    color: blue;

}
button:hover{
    background-color: rgb(27, 201, 143);
    color: rgb(37, 110, 179);

}
.cols{
    display: flex;
    padding: 50px;
    
}
.box{
    border:none ; 
    padding: 30px;
    margin: 10px;
    justify-content: space-between;
    height: 200px;
    background-color: rgb(142, 230, 236);
   

}
.box h3{
    text-align: center;
    padding: 20px;
}
.box p{
    text-align: center;
    
}
.box img{
    width: 120px;
    height: 90px;
    padding-left: 75px;
}

 section h3{
    margin-left:630px;
    color: blue;
    position: relative;
    top: 22px;
    
   
   
}
section{
    padding: 60px;
}
.one{
    display: flex;

}
.pic img{
    width: 600px;
    height: 400px;
}
.intro h2{
    text-align: justify;
    margin: 30px;
    padding-top: 5px;
}
.intro p{
    text-align: justify;
    padding-left: 40px;
    
    
}
.po{
display: flex;
padding-left: 60px;
line-height: 25px;

}
.po2{
    margin-left: 200px;
    
}
.bu{
    width: 100px;
    margin-left: 46px;
    padding: 12px;
   margin-top: 30px;
}
.bu:hover{
    background-color: aqua;
    color: rgb(245, 237, 237);
}

.container{
    display: flex;
    padding: 60px; 
   
   
}
.pic2 img{
    width:100% ;
    height: 300px; 
    

}

.pic_all{
    display: flex;
   
  padding-top: 10px;
}
   
  .pic2_1{
    width: 100%;
    padding:  10px;
    padding-left: 0;
  }
   
.pic3{
   
    padding-left: 20px;
    
}
.pic3 img{
    width:100%;
    height: 625px;
}

  

.container_1{
    display: flex;
   padding: 50px;
  }
       
        
    .box2{
        border:1px solid  ; 
        margin: 10px;
      
      
        width: 100%;
        height:360px;
        background-color: rgb(214, 248, 251);
       
    
    }
    .box2 h3{
        text-align: center;
        padding-top: 20px;
    }
    .box2 p{
        text-align: center;
        padding-top: 20px;
        
    }
    .box2 img{
        width: 100%;

        
    }  
    .box2 img:hover{
        cursor: pointer;
       
    }
    .ju{
        padding-left: 60px;
        padding-top: 10px;
        align-items: center;
        display:flex;
    }
    .ju button{
       
    
       
       padding: 10px;
        margin:10px;
        transition-duration: 0.10s;
        cursor: pointer;
       
    }

    
    .cols2{
        display: flex;
       padding: 50px;
       
         
        
      }   
           
            
        .box3{
            border:none ; 
           margin: 10px;
          padding: 20px;
            width: 350px;
            height: 360px;
            background-color: rgb(232, 253, 255);
           
        
        }
        .box3:hover{
            background-color: rgb(16, 15, 14);
            color: beige;
        }
        .box3 h3{
            text-align: center;
            padding-top: 5px;
        }
        .box3 p{
            text-align: center;
            padding-top: 10px;
            
        }
        .box3 img{
            width: 100%;
           
    
            
        }  
        
        .ji {
            
            margin: 20px;
            padding-left: 90px;
            
            
            
        }
        .A{
            padding: 50px;
           text-align: center;
            margin: 10px;
        }
        .A img{
            border: none;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            padding: 10px;
            

        }
        .BOXA{
            border:none;
            width: 250px;
            height: 150px;
            padding: 10px;
            

        }
        .BOXA:hover{
            background-color: rgb(238, 216, 207);

        }
        .b{
            display: flex;
            padding-left: 10px;
            
            justify-content: space-evenly;
        }
        footer{
            
            background-color: rgb(28, 28, 79);
           
            display: flex;
            padding: 60px;
         
        
            color: antiquewhite;
           
            

        }
        .gallery{
           margin: 40px;
          
           
         
           
           
        }
        .gall_1{
            padding-left: 50px;
            padding-top: 10px;
        }
        
        .gall_1 img{
            width: 50px;
            height: 50px;
           
            
        }
        
        
        
        
        .gallery p{
            padding-left:40px;
            padding-top: 10px;
        }
       
        
        .gallery ul{
            padding-left: 60px;
            padding-top: 20px;   
           
        }
        .gallery h4{
            padding-left:40px;
           
            
        }
        .last{
            padding: 20px;
            padding-left:40px;
           
            
           
            
            
        }
        .be{
            height: 30px;
           padding: 10px;
            width: 300px;
           
           

        }
        .up{
            position: absolute;
            right:200px;
            margin: 10px;
           padding:5px;
         

           
        
            
          
   
        }
        
        
        
        /*applying media query*/
        @media screen  and (max-width:400px){
            *{
                font-family: 'Times New Roman', Times, serif;
            }
            nav{
                background-color: lightskyblue;
                color: brown;
                width: 100%;

    
            }
            .pic{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .cols{
                display: flex;
                flex-direction: column;
                width: 100%;
                

            }
         
            
            .cols1{
                display: flex;
                flex-direction: column;
            }
            .one{
                display: flex;
                flex-direction: column;
            }
            .box{
                display: flex;
                flex-direction: column;
            }
            .cols2{
                display: flex;
                flex-direction: column;
            }
            
            .b{
                display: flex;
                flex-direction: column;
                padding-left: 20px;

            }
            .container{
                display: flex;
                flex-direction: column-reverse;
                width:100%;
            }
            .container_1{
                display: flex;
                flex-direction: column-reverse;
                width: 100%;

            }
            footer{
                display: flex;
                flex-direction: column;
                background-color: rgb(126, 126, 252);
              
            }
            .up{
              position: absolute;
              left:300px;
              width:100px;
             

            }
            }
        
        