*{
    margin: 0;
    padding: 0px;
}
nav{
    background-color: aquamarine;
    height: 40px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
    
    
   
}
.nav_ul ul{

    display: flex;
  
}
.nav_ul li{
    text-decoration: none;
    
   padding: 20px;
  
    color: rgb(11, 11, 11);
    
  
    
    
}


.be-rows{
    background-image: url('./laptop-1280536_1920.jpg');
    background-size: cover;
    background-position:50%;
    
    background-repeat: no-repeat;
  
    
}
.be-rows--row1{
    text-align:justify;
    color: rgb(224, 239, 239);

    padding: 50px;
   
    
}
.be-rows_button{
    padding-top: 30px;
   width: 200px;
   height: 50px;
   display: flex;
   padding: 20px;
   
   

}
.be-rows_button button{
    padding: 10px;
   margin: 3px;
   
  
}
.be-rows--row1 h4:hover{
    color: blue;

}
.be-rows_button button:hover{
    background-color: rgb(27, 201, 143);
    color: rgb(37, 110, 179);

}
.be-cols{
    display: flex;
    padding: 50px;
    
}
.be-cols_box{
    border:none ; 
    padding: 30px;
    margin: 10px;
    justify-content: space-between;
    height: 200px;
    background-color: rgb(142, 230, 236);
   

}
.be-cols_box h3{
    text-align: center;
    padding: 20px;
}
.be-cols_box p{
    text-align: center;
    
}
.be-cols_box img{
    width: 120px;
    height: 90px;
    padding-left: 75px;
}

 section h3{
    margin-left:630px;
    color: blue;
    position: relative;
    top: 22px;
    
   
   
}
section{
    padding: 60px;
}
.about{
    display: flex;

}
.pic img{
    width: 600px;
    height: 400px;
}
.intro h2{
    text-align: justify;
    margin: 30px;
    padding-top: 5px;
}
.intro p{
    text-align: justify;
    padding-left: 40px;
    
    
}
.intro_about{
display: flex;
padding-left: 60px;
line-height: 25px;

}
.intro_about--2{
    margin-left: 200px;
    
}
.intro--bu{
    width: 100px;
    margin-left: 46px;
    padding: 12px;
   margin-top: 30px;
}
.bu:hover{
    background-color: aqua;
    color: rgb(245, 237, 237);
}

.be-container{
    display: flex;
    padding: 60px; 
   
   
}
.be-container_pic1 img{
    width:100% ;
    height: 300px; 
    

}

.be-container_pic1--pic_all{
    display: flex;
   
  padding-top: 10px;
}
   
  .be-container_pic1--pic1_1{
    width: 100%;
    padding: 10px;
    padding-left: 0;
  }
   
.be-container_pic3{
   
    padding-left: 20px;
    
}
.be-container_pic3 img{
    width:100%;
    height: 625px;
}

  

.be-card{
    display: flex;
   padding: 50px;
  }
       
        
    .be-card_box1{
        border:1px solid  ; 
        margin: 10px;
      
      
        width: 100%;
        height:360px;
        background-color: rgb(214, 248, 251);
       
    
    }
    .be-card_box1 h3{
        text-align: center;
        padding-top: 20px;
    }
    .be-card_box1 p{
        text-align: center;
        padding-top: 20px;
        
    }
    .be-card_box1 img{
        width: 100%;

        
    }  
    .be-card_box1 img:hover{
        cursor: pointer;
       
    }
    .be-card_box1_button{
        padding-left: 60px;
        padding-top: 10px;
        align-items: center;
        display:flex;
    }
    .be-card_box1_button button{
       
    
       
       padding: 10px;
        margin:10px;
        transition-duration: 0.10s;
        cursor: pointer;
       
    }

    
    .be-card-1{
        display: flex;
       padding: 50px;
       
         
        
      }   
           
            
        .be-card-1_box2{
            border:none ; 
           margin: 10px;
          padding: 20px;
            width: 350px;
            height: 360px;
            background-color: rgb(232, 253, 255);
           
        
        }
        .be-card-1_box2:hover{
            background-color: rgb(16, 15, 14);
            color: beige;
        }
        .be-card-1_box2 h3{
            text-align: center;
            padding-top: 5px;
        }
        .be-card-1_box2 p{
            text-align: center;
            padding-top: 10px;
            
        }
        .be-card-1_box2 img{
            width: 100%;
           
    
            
        }  
        
        .be-card-1_box2_button {
            
            margin: 20px;
            padding-left: 90px;
            
            
            
        }
        .be-card-2{
            display: flex;
            padding-left: 10px;
            justify-content: space-evenly;
            
        }
        .be-card-2_A{
            padding: 50px;
           text-align: center;
            margin: 10px;
        }
        .be-card-2_A img{
            border: none;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            padding: 10px;
            

        }
        .be-card-2_A-BOXA{
            border:none;
            width: 250px;
            height: 150px;
            padding: 10px;
            

        }
        .be-card-2_A-BOXA:hover{
            background-color: rgb(238, 216, 207);

        }
        
        footer{
            
            background-color: rgb(28, 28, 79);
           
            display: flex;
            padding: 60px;
         
        
            color: antiquewhite;
           
            

        }
        .be_footer{
           margin: 40px;   
        }

        .be_footer p{
            padding-left:40px;
            padding-top: 10px;
        }
       
        
        .be_footer ul{
            padding-left: 60px;
            padding-top: 20px;   
           
        }
        .be_footer h4{
            padding-left:40px;
           
            
        }
        .be_footer-gallery{
            padding-left: 50px;
            padding-top: 10px;
        }
        
        .be_footer-gallery img{
            width: 50px;
            height: 50px;
           
            
        }
        
        
        
        
        
        .be_footer-last{
            padding: 20px;
            padding-left:40px;
           
            
           
            
            
        }
        .be_footer-last_bu{
            height: 30px;
           padding: 10px;
            width: 300px;
           
           

        }
        .be_footer-last_bu1{
            position: absolute;
            right:200px;
            margin: 10px;
           padding:5px; 
   
        }
        
        
        
        /*applying media query*/
        @media screen  and (max-width:400px){
            *{
                font-family: 'Times New Roman', Times, serif;
            }
            nav{
                background-color: lightskyblue;
                color: brown;
                width: 100%;

    
            }

            section h3{
                margin-left:0px;
                color: blue;
                position:none;
                top:0px;
                padding: 10px;
                
               
               
            }
            .pic img{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .be-cols{
                display: flex;
                flex-direction: column;
                width: 100%;
                

            }
         
            .intro_about{
                display: flex;
                flex-direction: column;
                

            }
            .intro_about--2{
                margin-left:0px;
                margin-top:5px;
    

            }
            .be-card-1{
                display: flex;
                flex-direction: column;
            }
            .about{
                display: flex;
                flex-direction: column;
            }
            .be-cols_box{
                display: flex;
                flex-direction: column;
            }
           
            
            .be-card-2{
                display: flex;
                flex-direction: column;
                

            }
            
            .be-container{
                display: flex;
                flex-direction: column-reverse;
                width:100%;
            }
            .be-card{
                display: flex;
                flex-direction: column-reverse;
                width: 100%;

            }
            
            footer{
                display: flex;
                flex-direction: column;
                background-color: rgb(126, 126, 252);
              
            }
            .be_footer-last_bu1{
              position: absolute;
              left:300px;
              width:100px;
             

            }
            }
           
        